<fieldset class="event_option" id="repeats_weekly_options">
  <div class="control-group">
    <label class="control-label">Each</label>
    <div class="controls">
      <% Event::DAYS_OF_THE_WEEK.each do |day_of_the_week| %>
          <%= label_tag "event_repeats_weekly_each_days_of_the_week_#{day_of_the_week}", day_of_the_week.humanize, :class => 'checkbox inline' do %>
              <%= check_box_tag "event[repeats_weekly_each_days_of_the_week][#{day_of_the_week}]", day_of_the_week, f.object.repeats_weekly_each_days_of_the_week.include?(day_of_the_week), {:name => "event[repeats_weekly_each_days_of_the_week][]"} %>
              <%= day_of_the_week.humanize %>
          <% end %>
      <% end %>
      <%= f.hidden_field :repeats_every_n_weeks, :value => '1' %>
      <%= hidden_field_tag 'event[repeats_weekly_each_days_of_the_week][]', '' %>
    </div>
    <div class="form-group event_option" id="repeats_options">
      <%= f.label :repeat_ends, :class => 'control-label' %>
      <%= f.select :repeat_ends_string, Event::REPEAT_ENDS_OPTIONS, {}, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div id="event_repeat_ends_on">
        <%= f.label :repeat_ends_on, :class => 'control-label' %>
        <%= f.date_select :repeat_ends_on, {}, {style: 'width:auto;'} %>
      </div>
    </div>

  </div>
</fieldset>
