<% start_date = params[:event_date].to_datetime.strftime('%F') if params[:event_date] %>
<% start_time = params[:start_time].to_datetime.strftime('%H:%M') if params[:event_date] %>
<% duration = (params[:duration]) if params[:duration] %>

<div class="col-lg-8 col-lg-offset-2">
  <%= form_for @hangout, html: {:class => 'form-vertical', :id => 'hangout-form'} do |f| %>

      <%= awesome_text_field f, :title %>

      <div class='form-group'>
        <%= f.label :category, :class => 'control-label' %>
        <%= f.select :category, %w( Scrum PairProgramming ), {}, :class => 'form-control' %>
      </div>

      <%= awesome_text_area f, :description, rows: 10 %>

      <div class="form-group event_date">
        <%= label_tag 'start_date', 'Start Date', :class => 'control-label' %>
        <% if params['start_date'] %>
            <%= text_field_tag 'start_date', format_datepicker(start_date), style: 'width:auto;', :class => 'form-control datepicker' %>
        <% else %>
            <%= text_field_tag 'start_date', format_datepicker(@hangout.start_planned), style: 'width:auto;', class: 'form-control datepicker' %>
        <% end %>
      </div>

      <div class="form-group event_time">
        <%= label_tag 'start_time', "Start Time in UTC", :class => 'control-label' %>
        <% if params['start_time'] %>
            <%= text_field_tag 'start_time', format_timepicker(start_time), style: 'width:auto;', class: 'form-control timepicker' %>
        <% else %>
            <%= text_field_tag 'start_time', format_timepicker(@hangout.start_planned), style: 'width:auto;', class: 'form-control timepicker' %>
        <% end %>
      </div>

      <div class="form-group event_time" style='display: block;'>
        <%= f.label :duration, "#{:duration}".titleize, :class => 'control-label'%>
        <% if params[:duration] %>
            <%= f.number_field :duration, {style: 'width:auto;', value: duration} %>
        <% else %>
            <%= f.number_field :duration, {style: 'width:auto;', value: @hangout.duration_planned}  %>
        <% end %>
      </div>

      <div class="form-group">
        <%= link_to 'Cancel', hangouts_path, class: 'btn btn-default' %>
        <%= f.submit 'Save', class: 'btn btn-default', data: {disable_with: 'Working...'} %>
      </div>
  <% end %>
</div>
