<% @hangouts.each_with_index do |hangout, index| %>
    <% present hangout do |hangout_presenter| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <% if hangout.started? %>
                <%= render partial: 'index_basic_info_started', locals: { hangout: hangout_presenter, index: index}  %>
            <% else %>
                <%= render partial: 'index_basic_info_upcoming', locals: { hangout: hangout_presenter, index: index}  %>
            <% end %>
          </div>
          <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse">
            <div class="panel-body">
              <% if hangout.started? %>
                  <%= render partial: 'index_extra_info_started', locals: { hangout: hangout_presenter }  %>
              <% else %>
                  <%= render partial: 'index_extra_info_upcoming', locals: { hangout: hangout_presenter }  %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>