<div class='container-fluid'>
  <div class='row'>
    <div class='hidden-xs col-sm-1 hg-toggle'></div>
    <div class='hidden-xs col-sm-1 hg-align-right'>
      <% if hangout.event_id.present? %>
          <div class='row'>Link</div>
      <% end %>
      <div class='row'><b>Category</b></div>
      <div class='row'>Description</div>
      <div class='row'>Duration</div>
    </div>
    <div class='col-xs-16 col-sm-6'>
      <% if hangout.event_id.present? %>
          <div class='row'> <%= link_to 'Edit Series', hangout.edit_event_link %></div>
      <% end %>
      <div class='row'> <%= hangout.category %>    </div>
      <div class='row'> <%= hangout.description %> </div>
      <div class='row'> <%= hangout.duration_planned %> </div>
    </div>
    <div class='hidden-xs col-sm-2'><b>Participants</b></div>
    <div class='col-xs-8 col-sm-2 hg-avatar'>
      <% hangout.participants.each do |participant| %>
          <%= render partial: 'users/user_avatar', locals: { user: participant, placement: 'bottom' } %>
      <% end %>
    </div>
  </div>
</div>