<div class='container-fluid'>
  <div class='row'>
    <div class="col-xs-1 col-sm-1 hg-toggle">
      <a class="collapse-button" data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse#{index}" %>">
        <%= fa_icon "caret-right" %></a>
    </div>
    <div class="col-xs-6 col-sm-2"> <%= hangout.starting_at %> </div>
    <div class="col-xs-10 col-sm-4"> <%= hangout.title %> </div>
    <div class="col-xs-12 col-sm-3"><%= hangout.project_link %></div>
    <div class="col-xs-4 col-sm-1 hg-avatar">
      <%= render partial: 'users/user_avatar', locals: { user: hangout.host, placement: 'top' } %>
    </div>
    <div class="col-xs-2 col-sm-1">
      <div class="row">
        <div><%= link_to 'Manage', manage_hangout_path(hangout.itself), { class: 'btn-hg-watch' }  if hangout.id.present?%></div>
        <div><%= link_to 'Edit', edit_hangout_path(hangout), { class: 'btn-hg-watch' } %></div>
      </div>
    </div>
  </div>
</div>