<% provide :title, 'Hangouts' %>
<section class="live-hangouts">
  <div class='container-fluid'>
    <div class='row hg-toggles'>
        <button id="btn-hg-toggle" type="button" class="btn-hg-toggle">toggle summary</button>
        <%= link_to 'show all/live', hangouts_path(live: !(params[:live]=='true')), class: 'btn-hg-live' %>
    </div>
  </div>
      <div class="row">
        <%= link_to 'New Event', new_hangout_path, :class => 'btn btn-default' %>
      </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-info hidden-xs">
      <div class="panel-heading hg-headings">
        <%= render partial: 'index_header' %>
      </div>
    </div>
    <% if @hangouts.empty?  %>
      <div class="panel panel-default">
        <div class="panel-heading empty">
          We are sorry, but it seems that there are no live sessions at this moment.<br>
          Please come back later or click 'Show all/live' button to browse older sessions.
        </div>
      </div>
    <% else  %>
      <% @hangouts.each_with_index do |hangout, index| %>
        <% present hangout do |hangout_presenter| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <% if hangout.started? %>
                  <%= render partial: 'index_basic_info_started', locals: { hangout: hangout_presenter }  %>
              <% else %>
                  <%= render partial: 'index_basic_info_upcoming', locals: { hangout: hangout_presenter }  %>
              <% end %>
            </div>
            <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse">
              <div class="panel-body">
                <% if hangout.started? %>
                    <%= render partial: 'index_extra_info_started', locals: { hangout: hangout_presenter }  %>
                <% else %>
                    <%= render partial: 'index_extra_info_upcoming', locals: { hangout: hangout_presenter }  %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
<%=javascript_include_tag 'hangouts.js' %>
